<head th:fragment="header">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<meta name="keywords" content="Chao Junzi">
<meta name="description" content="Chao Junzi">
<meta name="renderer" content="webkit">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="favicon.ico">
<!-- layui -->
<link href="/layui/css/layui.css" rel="stylesheet">
<link href="/css/public.css" rel="stylesheet">
</head>
<div th:fragment="footer">
	<script src="/layui/layui.js"></script>
	<script src="/js/layui-table.js"></script>
	<script src="/js/config.js"></script>
</div>
