<!DOCTYPE html>
<html>
<title class="logoTitle"></title>
<head th:include="include::header"></head>
<link rel="stylesheet" href="/sys/css/index.css" media="all" />
<body class="main_body">
	<div class="layui-layout layui-layout-admin">
		<!-- 顶部 -->
		<div class="layui-header header">
			<div class="layui-main mag0">
				<a href="#" class="logo logoTitle"></a>
				<!-- 显示/隐藏菜单 -->
				<a href="javascript:;" class="seraph hideMenu icon-caidan layui-icon layui-icon-shrink-right"></a>
				<!-- 顶部右侧菜单 -->
				<ul class="layui-nav top_menu">
					<li class="layui-nav-item" pc>
						<a href="javascript:;" class="clearCache">
							<i class="layui-icon layui-icon-delete"></i>
							<cite>清除缓存</cite>
						</a>
					</li>
					<li class="layui-nav-item lockcms" pc>
						<a href="javascript:;">
							<i class="seraph icon-lock"></i>
							<cite>锁屏</cite>
						</a>
					</li>
					<li class="layui-nav-item" id="userInfo">
						<a href="javascript:;">
							<img id="headImg" class="layui-nav-img userAvatar" width="35" height="35">
							<input id="userkey" type="hidden" th:value="${username}" />
							<cite class="adminName" th:text="${username}"></cite>
						</a>
						<dl class="layui-nav-child">
							<dd pc>
								<a href="javascript:;" class="resetPwd">
									<i class="layui-icon layui-icon-password"></i>
									<cite>修改密码</cite>
								</a>
							</dd>
							<dd pc>
								<a href="javascript:;" class="functionSetting">
									<i class="layui-icon">&#xe620;</i>
									<cite>功能设定</cite>
								</a>
							</dd>
							<dd pc>
								<a href="javascript:;" class="changeSkin">
									<i class="layui-icon">&#xe61b;</i>
									<cite>更换皮肤</cite>
								</a>
							</dd>
							<dd>
								<a href="/logout" class="signOut">
									<i class="layui-icon layui-icon-close"></i>
									<cite>退出</cite>
								</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<!-- 左侧导航 -->
		<div class="layui-side layui-bg-black">
			<div class="navBar layui-side-scroll" id="navBar">
				<ul class="layui-nav layui-nav-tree">
				</ul>
			</div>
		</div>
		<!-- 右侧内容 -->
		<div class="layui-body layui-form">
			<div class="layui-tab mag0" lay-filter="bodyTab" id="top_tabs_box">
				<ul class="layui-tab-title top_tab" id="top_tabs">
					<li class="layui-this" lay-id="">
						<i class="layui-icon layui-icon-home"></i>
						<cite>后台首页</cite>
					</li>
				</ul>
				<ul class="layui-nav closeBox">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="layui-icon layui-icon-radio"></i>
							页面操作
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" class="refresh refreshThis">刷新当前</a>
							</dd>
							<dd>
								<a href="javascript:;" class="closePageOther">
									<i class="seraph icon-prohibit"></i>
									关闭其他
								</a>
							</dd>
							<dd>
								<a href="javascript:;" class="closePageAll">
									<i class="seraph icon-guanbi"></i>
									关闭全部
								</a>
							</dd>
						</dl>
					</li>
				</ul>
				<div class="layui-tab-content clildFrame">
					<div class="layui-tab-item layui-show">
						<iframe th:src="@{main}"></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<div class="layui-footer footer">
			<span id="footer"></span>
		</div>
	</div>

	<!-- 移动导航 -->
	<div class="site-tree-mobile">
		<i class="layui-icon">&#xe602;</i>
	</div>
	<div class="site-mobile-shade"></div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/sys/js/index.js"></script>
	<script type="text/javascript" src="/sys/js/cache.js"></script>
</body>
</html>