<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body>
	<form class="layui-form" action="" lay-filter="chao_config-add-form" style="margin-top: 20px;">
		<input th:value="${session.formToken}" name="formToken" type="hidden" />
		<!--  -->
		<!--  -->
		<div class="layui-form-item">
			<label class="layui-form-label">名称：</label>
			<div class="layui-input-block">
				<input id="name" name="name" placeholder="请输入名称" class="layui-input" lay-verify="required"
					autocomplete="off">
			</div>
		</div>
		<!--  -->
		<div class="layui-form-item">
			<label class="layui-form-label">值：</label>
			<div class="layui-input-block">
				<input id="val" name="val" placeholder="请输入值" class="layui-input" lay-verify="required"
					autocomplete="off">
			</div>
		</div>
		<!--  -->
		<!--  -->
		<div class="layui-form-item">
			<label class="layui-form-label">文件上传：</label>
			<div class="layui-input-block">
				<input type="hidden" name="img">
				<img class="layui-upload-img" id="showImg">
				<div class="layui-upload-drag" id="uploadImg">
					<i class="layui-icon"></i>
					<p>点击上传，或将文件拖拽到此处</p>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">配置内容：</label>
			<div class="layui-input-block">
				<div id="editor"></div>
				<input type="hidden" id="content" name="content">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="chao_config-add">立即提交</button>
			</div>
		</div>
	</form>
	<div th:include="include::footer"></div>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
		layui.config({
			base : '/wangEditor/'
		}).use([ 'layer', 'jquery', 'form', 'laydate', 'upload', 'wangEditor' ], function() {
			var $ = layui.jquery;
			var laydate = layui.laydate;
			var layer = layui.layer;
			var form = layui.form;
			var upload = layui.upload;
			var wangEditor = layui.wangEditor;
			//https://www.kancloud.cn/wangfupeng/wangeditor3/335780 在线文档
			//富文本编辑器
			var editor = new wangEditor('#editor');
			editor.customConfig.uploadImgMaxSize = 5 * 1024 * 1024; //图片大小 默认1M
			editor.customConfig.uploadImgMaxLength = 5; //图片数量
			editor.customConfig.uploadImgShowBase64 = true;
			var content = $('#content')
			editor.customConfig.onchange = function(html) {
				// 监控变化，同步更新到 textarea
				content.val(html)
			}
			editor.create()
			editor.txt.html('');//内容初始化
			// 初始化 textarea 的值
			content.val(editor.txt.html())

			//拖拽上传
			upload.render({
				elem : '#uploadImg',
				url : '/file/uploadImg/',
				done : function(res) {
					//修改数据属性
					console.log(res);
					var src = res.data.src;
					$("#uploadImg").hide();
					$("[name=img]").val(src);
					$("#showImg").attr("style", "width: 93px;height: 93px;");
					$("#showImg").attr("src", src);

				}
			});

			//日期时间选择器
			laydate.render({
				elem : '#createTime',
				type : 'datetime'
			});
			//监听提交
			form.on('submit(chao_config-add)', function(data) {
				//提交数据data.field
				$.ajax({
					cache : true,
					type : "POST",
					url : "/chao/config/save",
					data : data.field,
					async : false,
					error : function(request) {
						laryer.alert("Connection error");
					},
					success : function(data) {
						if (data.retCode == '0000') {
							parent.layer.msg("保存成功");
							parent.location.reload(); // 父页面刷新
							var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
							parent.layer.close(index);
						} else {
							layer.alert(data.retMsg)
						}
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>