<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body>
	<div class="layui-fluid">
		<hr class="layui-bg-gray">
		<div class="layui-inline">
			<div class="layui-input-inline">
				<input class="layui-input" name="name" placeholder="请输入名名称" autocomplete="off" />
			</div>
			<div class="layui-input-inline">
				<input class="layui-input" name="val" placeholder="请输入名值" autocomplete="off" />
			</div>
			<button class="layui-btn layui-btn-normal" id="search" data-type="reload">搜索</button>
		</div>
		<table id="chao_config-table" lay-filter="chao_config-table"></table>
	</div>
	<!-- 工具栏 -->
	<script type="text/html" id="toolbarChaoConfig">
        <div class="layui-btn-container">
			<button shiro:hasPermission="chao:config:add" class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle" ></i>添加</button>
            <button shiro:hasPermission="chao:config:batchRemove" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchRemove"><i class="layui-icon layui-icon-delete"></i>删除</button>
        </div>
    </script>
	<!-- 操作列 -->
	<script type="text/html" id="chao_config-state">
     <div class="layui-btn-group">
        <button shiro:hasPermission="chao:config:edit" class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
        <button shiro:hasPermission="chao:config:remove" class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
    </div>
    </script>
	<div th:include="include::footer"></div>
	<script>
		layui.use([ 'table', 'element' ], function() {
			var $ = layui.jquery;
			var table = layui.table;
			// 渲染表格
			var renderTable = function() {
				layer.load(2);
				table.render({
					elem : '#chao_config-table',
					url : '/chao/config/list',
					toolbar : '#toolbarChaoConfig',
					page : true,
					id : 'chaoConfigReload',
					parseData : chaoLayuiTable.parseData,
					request : chaoLayuiTable.request,
					response : chaoLayuiTable.response,
					//limit : 1,
					cols : [ [ {
						type : 'checkbox',
						fixed : 'left'
					}, {
						fixed : 'left',
						unresize : true,
						sort : true,
						width : 80,
						align : 'center',
						field : 'id',
						title : 'ID',

					}, {
						align : 'center',
						field : 'name',
						title : '名称',

					}, {
						align : 'center',
						field : 'val',
						title : '值',

					}, {
						align : 'center',
						field : 'createTime',
						title : '创建时间',

					}, {
						title : '操作',
						toolbar : '#chao_config-state',
						align : 'center'
					} ] ],
					done : function() {
						layer.closeAll('loading');
					}
				});

			};
			renderTable();
			// 搜索 
			var active = {
				reload : function() {
					//执行重载
					table.reload('chaoConfigReload', {
						page : {
							curr : 1
						//重新从第 1 页开始
						},
						where : {
							name : $('[name=name]').val(),
							val : $('[name=val]').val(),

						}
					});
				}
			};

			$('#search').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

			//头工具栏事件
			table.on('toolbar(chao_config-table)', function(obj) {
				var checkStatus = table.checkStatus(obj.config.id);
				switch (obj.event) {
				case 'add'://增加
					openAdd();
					break;
				case 'batchRemove'://批量删除
					var data = checkStatus.data;
					if (data.length < 1) {
						layer.msg('请至少选择一个');
						break;
					}
					//批量删除
					batchRemove(data);
				}
			});

			//监听工具条
			table.on('tool(chao_config-table)', function(obj) {
				var data = obj.data;
				var layEvent = obj.event;
				if (layEvent === 'del') {//删除
					remove(data.id);
				} else if (layEvent === 'edit') {//修改
					edit(data.id);
				}
			});

			function remove(id) {
				parent.layer.confirm('确定要删除选中的记录？', {
					btn : [ '确定', '取消' ]
				}, function() {
					ajaxPostLoad("/chao/config/remove", {
						id : id
					});
				})
			}

			function batchRemove(data) {
				parent.layer.confirm("确认要删除选中的'" + data.length + "'条数据吗?", {
					btn : [ '确定', '取消' ]
				}, function() {
					var ids = new Array();
					$.each(data, function(i, row) {
						ids[i] = row['id'];
					});
					console.log("remove->ids:" + ids);
					ajaxPostLoad("/chao/config/batchRemove", {
						ids : ids
					});
				});
			}

			function edit(id) {
				parent.layer.open({
					type : 2,
					title : '修改',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '60%', '60%' ],
					content : '/chao/config/edit/' + id // iframe的url
				});
			}

			function openAdd() {
				parent.layer.open({
					type : 2,
					title : '增加',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '60%', '60%' ],
					content : '/chao/config/add' // iframe的url
				});
			}
		});
	</script>
</body>
</html>