<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body>
	<div class="layui-fluid">
		<table id="xc_group-table" lay-filter="xc_group-table"></table>
	</div>
	<!-- 工具栏 -->
	<script type="text/html" id="toolbarXcGroup">
        <div class="layui-btn-container">
			<button   class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle" ></i>添加</button>
            <button  class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchRemove"><i class="layui-icon layui-icon-delete"></i>删除</button>
        </div>
    </script>
	<!-- 操作列 -->
	<script type="text/html" id="xc_group-state">
     <div class="layui-btn-group">
        <button shiro:hasPermission="xc:group:edit" class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
        <button shiro:hasPermission="xc:group:remove" class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i></button>
    </div>
    </script>
	<div th:include="include::footer"></div>
	<script>
		layui.use([ 'table' ], function() {
			var $ = layui.jquery;
			var table = layui.table;
			// 渲染表格
			var renderTable = function() {
				layer.load(2);
				table.render({
					elem : '#xc_group-table',
					url : '/xc/group/list',
					toolbar : '#toolbarXcGroup',
					page : true,
					id : 'xcGroupReload',
					parseData : chaoLayuiTable.parseData,
					request : chaoLayuiTable.request,
					response : chaoLayuiTable.response,
					//limit : 1,
					cols : [ [ {
						type : 'checkbox',
						fixed : 'left'
					}, {
						fixed : 'left',
						unresize : true,
						sort : true,
						width : 80,
						align : 'center',
						field : 'id',
						title : '',

					}, {
						align : 'center',
						field : 'name',
						title : '分组名称',

					}, {
						align : 'center',
						field : 'createTime',
						title : '创建日期',

					}, {
						title : '操作',
						toolbar : '#xc_group-state',
						align : 'center'
					} ] ],
					done : function() {
						layer.closeAll('loading');
					}
				});

			};
			renderTable();
			// 搜索 
			var active = {
				reload : function() {
					//执行重载
					table.reload('xcGroupReload', {
						page : {
							curr : 1
						//重新从第 1 页开始
						},
						where : {

						}
					});
				}
			};

			$('#search').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

			//头工具栏事件
			table.on('toolbar(xc_group-table)', function(obj) {
				var checkStatus = table.checkStatus(obj.config.id);
				switch (obj.event) {
				case 'add'://增加
					openAdd();
					break;
				case 'batchRemove'://批量删除
					var data = checkStatus.data;
					if (data.length < 1) {
						layer.msg('请至少选择一个');
						break;
					}
					//批量删除
					batchRemove(data);
				}
			});

			//监听工具条
			table.on('tool(xc_group-table)', function(obj) {
				var data = obj.data;
				var layEvent = obj.event;
				if (layEvent === 'del') {//删除
					remove(data.id);
				} else if (layEvent === 'edit') {//修改
					edit(data.id);
				}
			});

			function remove(id) {
				parent.layer.confirm('确定要删除选中的记录？', {
					btn : [ '确定', '取消' ]
				}, function() {
					//删除
					ajaxPostLoad('/xc/group/remove', {
						id : id
					});
				})
			}

			function batchRemove(data) {
				parent.layer.confirm("确认要删除选中的'" + data.length + "'条数据吗?", {
					btn : [ '确定', '取消' ]
				}, function() {
					var ids = new Array();
					$.each(data, function(i, row) {
						ids[i] = row['id'];
					});
					console.log("remove->ids:" + ids);
					//批量删除
					ajaxPostLoad('/xc/group/batchRemove', {
						ids : ids
					});
				});
			}

			function edit(id) {
				parent.layer.open({
					type : 2,
					title : '修改',
					maxmin : false,
					shadeClose : true, // 点击遮罩关闭层
					area : [ '25%', '23%' ],
					content : '/xc/group/edit/' + id // iframe的url
				});
			}

			function openAdd() {
				parent.layer.open({
					type : 2,
					title : '增加',
					maxmin : false,
					shadeClose : true, // 点击遮罩关闭层
					area : [ '25%', '23%' ],
					content : '/xc/group/add' // iframe的url
				});
			}
		});
	</script>
</body>
</html>