<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<hr class="layui-bg-gray">
	<form class="layui-form" lay-filter="generator-edit-form">
		<div class="layui-form-item">
			<label class="layui-form-label">作者：</label>
			<div class="layui-input-block">
				<input name="author" placeholder="请输入作者" autocomplete="off"
					class="layui-input" th:value="${property.author}"
					lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱：</label>
			<div class="layui-input-block">
				<input name="email" placeholder="请输入邮箱" autocomplete="off"
					class="layui-input" th:value="${property.email}" readonly
					lay-verify="required|email">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">包名：</label>
			<div class="layui-input-block">
				<input name="package" placeholder="请输入任务类" autocomplete="off"
					class="layui-input" th:value="${property.package}"
					lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">自动去掉表前缀：</label>
			<div class="layui-input-block">
				<input type="checkbox" name="autoRemovePre" lay-skin="switch"
					lay-filter="autoRemovePre" th:checked="${property.autoRemovePre}"
					lay-text="ON|OFF">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">去掉指定表前缀：</label>
			<div class="layui-input-block">
				<input name="tablePrefix" placeholder="请输入指定表前缀" autocomplete="off"
					class="layui-input" th:value="${property.tablePrefix}">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="generator-edit">立即提交</button>
			</div>
		</div>
	</form>
	<div th:include="include::footer"></div>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
		layui.use([ 'form', 'layedit', 'laydate' ], function() {
			var form = layui.form, layer = layui.layer, layedit = layui.layedit, laydate = layui.laydate;
			var $ = layui.jquery;

			//监听指定开关
			form.on('switch(autoRemovePre)', function(data) {
				$("[name=autoRemovePre]").val((this.checked ? 'true' : 'false'));
			});

			//监听提交
			form.on('submit(generator-edit)', function(data) {
				//提交数据data.field
				$.ajax({
					cache : true,
					type : "POST",
					url : "/sys/generator/update",
					data : data.field,
					async : false,
					error : function(request) {
						laryer.alert("Connection error");
					},
					success : function(data) {
						if (data.code == 0) {
							parent.layer.msg("保存成功");
							parent.location.reload(); // 父页面刷新
							var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
							parent.layer.close(index);
						} else {
							layer.alert(data.msg)
						}
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>