<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body>
	<div class="layui-fluid">
		<hr class="layui-bg-gray">
		<div class="layui-inline">
			<div class="layui-input-inline">
				<input class="layui-input" name="username" placeholder="请输入用户名" autocomplete="off" />
			</div>
			<button class="layui-btn layui-btn-normal" id="search" data-type="reload">搜索</button>
		</div>
		<table id="user-table" lay-filter="user-table"></table>
	</div>
	<!-- 工具栏 -->
	<script type="text/html" id="toolbarUser">
        <div class="layui-btn-container">
			<button shiro:hasPermission="sys:user:add" class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle" ></i>添加</button>
            <button shiro:hasPermission="sys:user:batchRemove" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchRemove"><i class="layui-icon layui-icon-delete"></i>删除</button>
        </div>
    </script>
	<!-- 操作列 -->
	<script type="text/html" id="user-state">
     <div class="layui-btn-group">
        <button shiro:hasPermission="sys:user:edit" class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
        <button shiro:hasPermission="sys:user:remove" class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i></button>
    </div>
    </script>
	<div th:include="include::footer"></div>
	<script>
		layui.use([ 'table' ], function() {
			var $ = layui.jquery;
			var table = layui.table;
			// 渲染表格
			var renderTable = function() {
				layer.load(2);
				table.render({
					elem : '#user-table',
					url : '/sys/user/list',
					toolbar : '#toolbarUser',
					page : true,
					id : 'userReload',
					parseData : chaoLayuiTable.parseData,
					request : chaoLayuiTable.request,
					response : chaoLayuiTable.response,
					//limit : 1,
					cols : [ [ {
						type : 'checkbox',
						fixed : 'left'
					}, {
						field : 'userId',
						title : 'ID',
						fixed : 'left',
						unresize : true,
						sort : true,
						width : 80
					}, {
						field : 'username',
						align : 'center',
						title : '用户名',
					}, {
						field : 'mobile',
						align : 'center',
						title : '手机号',
					}, {
						field : 'name',
						align : 'center',
						title : '真实姓名',
					}, {
						field : 'email',
						align : 'center',
						title : '邮箱',
					}, {
						field : 'deptName',
						align : 'center',
						title : '部门',
					}, {
						field : 'status',
						align : 'center',
						title : '状态',
						templet : function(d) {
							if (d.status == 1) {
								return '<span class="layui-badge layui-bg-green">正常</span>';
							} else {
								return '<span class="layui-badge layui-bg-red">禁用</span>';
							}
						},
					}, {
						title : '操作',
						toolbar : '#user-state',
						align : 'center'
					} ] ],
					done : function() {
						layer.closeAll('loading');
					}
				});

			};
			renderTable();
			// 搜索 
			var active = {
				reload : function() {
					//执行重载
					table.reload('userReload', {
						page : {
							curr : 1
						//重新从第 1 页开始
						},
						where : {
							username : $('[name=username]').val()

						}
					});
				}
			};

			$('#search').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

			//头工具栏事件
			table.on('toolbar(user-table)', function(obj) {
				var checkStatus = table.checkStatus(obj.config.id);
				switch (obj.event) {
				case 'add'://增加
					openAdd();
					break;
				case 'batchRemove'://批量删除
					var data = checkStatus.data;
					if (data.length < 1) {
						layer.msg('请至少选择一个');
						break;
					}
					//批量删除
					batchRemove(data);
				}
			});

			//监听工具条
			table.on('tool(user-table)', function(obj) {
				var data = obj.data;
				console.log(data)
				var layEvent = obj.event;
				if (layEvent === 'del') {//删除
					remove(data.userId);
				} else if (layEvent === 'edit') {//修改
					edit(data.userId);
				}
			});

			function remove(id) {
				layer.confirm('确定要删除选中的记录？', {
					btn : [ '确定', '取消' ]
				}, function() {
					$.ajax({
						url : "/sys/user/remove",
						type : "post",
						data : {
							id : id
						},
						success : function(r) {
							if (r.retCode == '0000') {
								layer.msg("删除成功");
								renderTable();
							} else {
								layer.msg(r.retMsg);
							}
						}
					});
				})
			}

			function batchRemove(data) {
				layer.confirm("确认要删除选中的'" + data.length + "'条数据吗?", {
					btn : [ '确定', '取消' ]
				}, function() {
					var ids = new Array();
					$.each(data, function(i, row) {
						ids[i] = row['userId'];
					});
					console.log(ids);
					$.ajax({
						type : 'POST',
						data : {
							"ids" : ids
						},
						url : '/sys/user/batchRemove',
						success : function(r) {
							if (r.retCode == '0000') {
								layer.msg(r.retMsg);
								renderTable();
							} else {
								layer.msg(r.retMsg);
							}
						}
					});
				});
			}

			function edit(id) {
				layer.open({
					type : 2,
					title : '用户修改',
					maxmin : false,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '60%', '80%' ],
					content : '/sys/user/edit/' + id // iframe的url
				});
			}

			function openAdd() {
				layer.open({
					type : 2,
					title : '增加用户',
					maxmin : false,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '60%', '90%' ],
					content : '/sys/user/add' // iframe的url
				});
			}
		});
	</script>
</body>
</html>