<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chao.cloud.admin.core.dal.mapper.XcStatLogMapper">


	<!-- 统计执行时间 -->
	<select id="statRequestTime" parameterType="java.lang.String"
		resultType="com.chao.cloud.admin.core.dal.entity.StatRequestTime">
		SELECT
		operation,
		MAX(time) max,
		AVG(time) avg,
		MIN(time) min
		FROM
		`sys_log`
		WHERE
		operation REGEXP '^${value}'
		GROUP BY operation
	</select>
</mapper>