<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body>
	<div class="layui-fluid">
		<hr class="layui-bg-gray">
		<div class="layui-inline">
			<div class="layui-input-inline">
				<input class="layui-input" name="title" placeholder="请输入标题" autocomplete="off" />
			</div>
			<button class="layui-btn layui-btn-normal" id="search" data-type="reload">搜索</button>
		</div>
		<table id="chao_richtext-table" lay-filter="chao_richtext-table"></table>
	</div>
	<!-- 工具栏 -->
	<script type="text/html" id="toolbarChaoRichtext">
        <div class="layui-btn-container">
			<button shiro:hasPermission="chao:richtext:add" class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle" ></i>添加</button>
            <button shiro:hasPermission="chao:richtext:batchRemove" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchRemove"><i class="layui-icon layui-icon-delete"></i>删除</button>
        </div>
    </script>
	<!-- 操作列 -->
	<script type="text/html" id="chao_richtext-state">
     <div class="layui-btn-group">
		<button class="layui-btn layui-btn-sm" lay-event="look"><i class="layui-icon layui-icon-search"></i>预览</button>
        <button shiro:hasPermission="chao:richtext:edit" class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
        <button shiro:hasPermission="chao:richtext:remove" class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i></button>
    </div>
    </script>
	<div th:include="include::footer"></div>
	<script>
		layui.use([ 'table' ], function() {
			var $ = layui.jquery;
			var table = layui.table;
			// 渲染表格
			var renderTable = function() {
				layer.load(2);
				table.render({
					elem : '#chao_richtext-table',
					url : '/chao/richtext/list',
					toolbar : '#toolbarChaoRichtext',
					page : true,
					id : 'chaoRichtextReload',
					parseData : chaoLayuiTable.parseData,
					request : chaoLayuiTable.request,
					response : chaoLayuiTable.response,
					//limit : 1,
					cols : [ [ {
						type : 'checkbox',
						fixed : 'left'
					}, {
						fixed : 'left',
						unresize : true,
						sort : true,
						width : 80,
						align : 'center',
						field : 'id',
						title : 'ID',

					}, {
						align : 'center',
						field : 'title',
						title : '标题',

					}, {
						align : 'center',
						field : 'img',
						title : '展示图',

					}, {
						align : 'center',
						field : 'content',
						title : '内容',

					}, {
						align : 'center',
						field : 'createTime',
						title : '创建时间',

					}, {
						title : '操作',
						toolbar : '#chao_richtext-state',
						align : 'center'
					} ] ],
					done : function() {
						layer.closeAll('loading');
					}
				});

			};
			renderTable();
			// 搜索 
			var active = {
				reload : function() {
					//执行重载
					table.reload('chaoRichtextReload', {
						page : {
							curr : 1
						//重新从第 1 页开始
						},
						where : {
							title : $('[name=title]').val(),
						}
					});
				}
			};

			$('#search').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

			//头工具栏事件
			table.on('toolbar(chao_richtext-table)', function(obj) {
				var checkStatus = table.checkStatus(obj.config.id);
				switch (obj.event) {
				case 'add'://增加
					openAdd();
					break;
				case 'batchRemove'://批量删除
					var data = checkStatus.data;
					if (data.length < 1) {
						layer.msg('请至少选择一个');
						break;
					}
					//批量删除
					batchRemove(data);
				}
			});

			//监听工具条
			table.on('tool(chao_richtext-table)', function(obj) {
				var data = obj.data;
				console.log(data)
				var layEvent = obj.event;
				if (layEvent === 'del') {//删除
					remove(data.id);
				} else if (layEvent === 'edit') {//修改
					edit(data.id);
				} else if (layEvent === 'look') {//查看
					look(data);
				}
			});

			function look(data) {
				//触发事件
				parent.leafTabAdd("/chao/config/add", "添加");
			}

			function remove(id) {
				layer.confirm('确定要删除选中的记录？', {
					btn : [ '确定', '取消' ]
				}, function() {
					$.ajax({
						url : "/chao/richtext/remove",
						type : "post",
						data : {
							id : id
						},
						success : function(r) {
							if (r.retCode == '0000') {
								layer.msg("删除成功");
								renderTable();
							} else {
								layer.msg(r.retMsg);
							}
						}
					});
				})
			}

			function batchRemove(data) {
				layer.confirm("确认要删除选中的'" + data.length + "'条数据吗?", {
					btn : [ '确定', '取消' ]
				}, function() {
					var ids = new Array();
					$.each(data, function(i, row) {
						ids[i] = row['id'];
					});
					console.log(ids);
					$.ajax({
						type : 'POST',
						data : {
							"ids" : ids
						},
						url : '/chao/richtext/batchRemove',
						success : function(r) {
							if (r.retCode == '0000') {
								layer.msg("删除成功");
								renderTable();
							} else {
								layer.msg(r.retMsg);
							}
						}
					});
				});
			}

			function edit(id) {
				layer.open({
					type : 2,
					title : '修改',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '60%', '80%' ],
					content : '/chao/richtext/edit/' + id // iframe的url
				});
			}

			function openAdd() {
				layer.open({
					type : 2,
					title : '增加',
					maxmin : true,
					shadeClose : false, // 点击遮罩关闭层
					area : [ '60%', '80%' ],
					content : '/chao/richtext/add' // iframe的url
				});
			}
		});
	</script>
</body>
</html>