package ${package}.dal.genmapper;

import ${package}.dal.genentity.${className}Entity;

import java.util.List;
import java.util.Map;

#if(${unLock})
import com.chao.cloud.common.extra.mybatis.annotation.VersionLocker;
#end

import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper {

	${className}Entity get(${pk.attrType} ${pk.attrname});
	
	List<${className}Entity> list(Map<String,Object> map);
	
	int count(Map<String,Object> map);
	
	int save(${className}Entity ${classname});
	
#if(${unLock})
	@VersionLocker(false)
#end	
	int update(${className}Entity ${classname});
	
	int remove(${pk.attrType} ${pk.columnName});
	
	int batchRemove(${pk.attrType}[] ${pk.attrname}s);
}
