package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dal.genmapper.${className}Mapper;
import ${package}.dal.genentity.${className}Entity;
import ${package}.service.${className}Service;



@Service
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Mapper ${classname}Mapper;
	
	@Override
	public ${className}Entity get(${pk.attrType} ${pk.attrname}){
		return ${classname}Mapper.get(${pk.attrname});
	}
	
	@Override
	public List<${className}Entity> list(Map<String, Object> map){
		return ${classname}Mapper.list(map);
	}
	
	@Override
	public int count(Map<String, Object> map){
		return ${classname}Mapper.count(map);
	}
	
	@Override
	public int save(${className}Entity ${classname}){
		return ${classname}Mapper.save(${classname});
	}
	
	@Override
	public int update(${className}Entity ${classname}){
		return ${classname}Mapper.update(${classname});
	}
	
	@Override
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Mapper.remove(${pk.attrname});
	}
	
	@Override
	public int batchRemove(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Mapper.batchRemove(${pk.attrname}s);
	}
	
}
