<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<title>代码生成插件</title>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">代码生成 @ Mybatis-Plus</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="javascript:;">
						<img th:src="${session.user.headImg}" class="layui-nav-img">
						<span th:text="${session.user.nickName}"></span>
					</a>
					<dl class="layui-nav-child">
						<dd>
							<a id="info" href="javascript:;">基本资料</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="/logout">退了</a>
				</li>
			</ul>
		</div>
		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域  -->
				<ul class="layui-nav layui-nav-tree" lay-filter="menu">
					<li class="layui-nav-item layui-nav-itemed" id="0">
						<a class="" href="javascript:;">基本配置</a>
						<dl class="layui-nav-child">
							<dd th:utext="${admin_menu}"></dd>
							<dd class="layui-this">
								<a link="/main" href="javascript:;" id="main">首页</a>
							</dd>
							<dd>
								<a link="/xc/group" href="javascript:;">分组管理</a>
							</dd>
							<dd>
								<a link="/xc/config" href="javascript:;">mysql 连接管理</a>
							</dd>
						</dl>
					</li>
					<!-- 数据库连接 -->
					<li th:each="menu:${menus}" class="layui-nav-item">
						<a href="javascript:;" th:text="${menu.name}"></a>
						<dl class="layui-nav-child" th:each="config:${menu.configs}">
							<dd>
								<a href="javascript:;" th:text="${config.title}" th:attr="link=|/generator?id=${config.id}|"></a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<iframe height="98%" width="100%" src="/main"></iframe>
		</div>

		<div class="layui-footer">
			<!-- 底部固定区域 -->
			© Chaojunzi
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script>
		// 刷新当前页面
		function reloadCurrTab() {
			$(".layui-body").find("iframe")[0].contentWindow.location.reload();
		}
		//JavaScript代码区域
		layui.use([ 'element', 'layer', 'jquery' ], function() {
			var element = layui.element;
			var $ = layui.jquery;
			var layer = layui.layer;
			//主页访问
			$(".layui-nav-child").find("a").click(function() {
				var link = $(this).attr("link");
				$("iframe").attr("src", link);
			});

			element.on('nav(menu)', function(elem) {
				elem.parent().siblings().removeClass('layui-nav-itemed')
			});
			//用户信息
			$("#info").click(function() {
				parent.layer.open({
					type : 2,
					title : '基本信息',
					maxmin : false,
					shadeClose : true, // 点击遮罩关闭层
					area : [ '20%', '38%' ],
					content : '/xc/user/info/' // iframe的url
				});
			});
		});
	</script>
</body>
</html>